<h1 class="page-header">About Me</h1>

<section class="main">
  <p class="about-me">
    I am from Durham, North Carolina and attended Stern School of Business at NYU. I recently graduated from DevBootCamp where I learned web development and software engineering.
  </p>
  <p class="about-me">
    I am passionate about predictive analytics, financial forecasting, growing businesses, and using neuroscience analogies to solve complex problems. The aviation industry has been close to my heart since I was 15 and recognized not simply the need for improvement, but more specifically the opportunities to identify and harness underutilized technologies for operations optimization.
  </p>
</section>
