<h1>Airline Industry Case Study</h1>

<section class="main">

<section class="case-study-intro">

  <h2>Goals</h2>
  <ul>
    <li>Increase RASM (decrease ASM)</li>
    <li>Lower CASM</li>
    <li>Increase RPM</li>
    <li>Increase load factor (ASM down and RPM up)</li>
  </ul>

  <h2>Planning Decisions to consider</h2>
  <p>These are the things that can be addressed in finding a solution to challenges</p>
  <ul>
    <li>Fleet planning</li>
    <li>Route evaluation</li>
    <li>Schedule Development: Frequency Planning, Timetable Development, Flight Assignment, Aircraft Rotation Planning </li>
    <li>Price</li>
    <li>Revenue management</li>
  </ul>
  <h2>General Challenges Facing the Industry</h2>
  <ul>
    <li>Oil prices/Fuel costs</li>
    <li>Regulations</li>
    <li>Cyclical industry</li>
    <li>Route management</li>
    <li>Pricing</li>
    <li>Pilot shortages</li>
    <li>Consolidations - Challenge or opportunity?</li>
    <li>Airport capacity</li>
  </ul>

  <h2>Opportunities for Industry Members</h2>
  <ul>
    <li>Ancillary Revenues</li>
      <ul>
        <li>Commission-based</li>
        <li>Frequent flyer</li>
        <li>Advertising(in flight mags, product placement, etc)</li>
        <li>A la carte (bag-check, perks like lounges and early boarding)</li>
      </ul>
    <li>Innovations in seat design to increase RASM</li>
  </ul>
</section>



  <section class="case-study">

    <div class="case-study-section">
      <h3>Challenge</h3>

    </div>

    <div class="case-study-section">
      <h3>Solution/h3>

    </div>

    <div class="case-study-section">
      <h3>Proposed Implementation</h3>

    </div>

  </section>
</section>
