h1#header-name a{
  color: navy;
}

h1#header-name a:hover {
  text-decoration: underline;
}

#menu-items {
  margin-left: 70%;
}
#menu p {
  display: inline;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

section.main {
  margin: 30px 60px;
}

p.about-me{
  width: 500px;
  margin:0 auto;
  padding:10px;
}

h1.page-header{
  margin-left:20%;
}

.no-decoration a{
  text-decoration: none;
}
