h1#header-name a{
  color: navy;
}

h1#header-name a:hover {
  background-color: AliceBlue;
}

#menu {
  margin-right:5%;
  margin-left: 60%;
}

.menu-link {
  color: grey;
}

#menu-items p:hover {
  background-color: AliceBlue;
  border:none;
}

#menu-items p {
  display: inline;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;

}

section.main {
  margin: 30px 60px;
}

p.about-me{
  width: 500px;
  margin:0 auto;
  padding:10px;
}

h1.page-header{
  margin-left:20%;
}

.no-decoration a{
  text-decoration: none;
}
